/* body {
    font-family: Arial;
    text-align: center;
    margin-top: 60px;
}

a, button {
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    background: #2c7be5;
    color: white;
    border-radius: 5px;
    border: none;
}

input {
    padding: 10px;
} */
